@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.RoatpGateway.Web.Helpers;
@using SFA.DAS.RoatpGateway.Domain;
@model SFA.DAS.RoatpGateway.Web.ViewModels.RoatpGatewayApplicationViewModel

@{
    ViewBag.Title = "Gateway outcome";
    Layout = "_Layout";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a asp-controller="Dashboard" asp-action="Index" class="govuk-breadcrumbs__link">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a asp-controller="RoatpGateway" asp-action="ClosedApplications" class="govuk-breadcrumbs__link">RoATP gateway applications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Gateway outcome</li>
    </ol>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Gateway outcome</h1>
            <h2 class="govuk-heading-m">Organisation details</h2>

            <dl class="govuk-summary-list">
                @if (!string.IsNullOrWhiteSpace(Model.Ukprn))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            UKPRN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Ukprn
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.OrganisationName))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationName
                        </dd>
                    </div>
                }
                @if (!String.IsNullOrWhiteSpace(Model.ApplicationRoute))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Provider route
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationRoute
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.ApplicationReference))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Application reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationReference
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.ApplicationEmailAddress))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Applicant's email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ApplicationEmailAddress
                        </dd>
                    </div>
                }
                @if (Model.SubmittedDate.HasValue)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date application submitted
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.SubmittedDate.ToSfaShortDateString()
                        </dd>
                    </div>
                }
            </dl>
        </div>
    </div>

    @if (Model.Sequences.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <ol class="das-task-list">
                    @foreach (var sequence in Model.Sequences)
                    {
                        <li>
                            <h2 class="das-task-list__section">
                                <span class="das-task-list__section-number">@sequence.SequenceNumber. </span>@sequence.SequenceTitle
                            </h2>

                            <table class="govuk-table govuk-!-margin-bottom-9">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header das-table-cell-width-40">Check</th>
                                        <th class="govuk-table__header das-table-cell-width-20">Outcome</th>
                                        <th class="govuk-table__header das-table-cell-width-40">Comments</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var currentSection in sequence.Sections)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">
                                                <span class="das-task-list__task-name das-task-list__task-name--inactive">
                                                    @if (!Model.TwoInTwoMonthsPassed && currentSection.PageId != GatewayPageIds.TwoInTwelveMonths)
                                                    {
                                                        @* TwoInTwelveMonths must be a Pass before unlocking any other section *@
                                                        @currentSection.LinkTitle@Html.Raw((string.IsNullOrWhiteSpace(currentSection.HiddenText) ? "" : $"<span class=\"govuk-visually-hidden\"> {currentSection.HiddenText}</span>"))
                                                    }
                                                    else if (currentSection.Status != null && currentSection.Status.Equals(SectionReviewStatus.NotRequired))
                                                    {
                                                        @currentSection.LinkTitle@Html.Raw((string.IsNullOrWhiteSpace(currentSection.HiddenText) ? "" : $"<span class=\"govuk-visually-hidden\"> {currentSection.HiddenText}</span>"))
                                                    }
                                                    else
                                                    {
                                                        <a class="govuk-link" href="/Roatp/Gateway/@Model.ApplicationId/Page/@currentSection.PageId">@currentSection.LinkTitle@Html.Raw((string.IsNullOrWhiteSpace(currentSection.HiddenText) ? "" : $"<span class=\"govuk-visually-hidden\"> {currentSection.HiddenText}</span>"))</a>
                                                    }
                                                </span>
                                            </td>
                                            <td class="govuk-table__cell">
                                                @if (!string.IsNullOrWhiteSpace(currentSection.Status))
                                                {
                                                    @if (!currentSection.Status.Equals(SectionReviewStatus.New))
                                                    {
                                                        var sectionCssModifierClassName = CssStylingHelper.GetSectionReviewStatusStyle(currentSection.Status);
                                                        <strong class="das-tag @sectionCssModifierClassName das-no-wrap">@currentSection.Status</strong>
                                                    }
                                                }
                                            </td>
                                            <td class="govuk-table__cell">
                                                @currentSection.Comment
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </li>
                    }

                </ol>
            </div>
        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-m">Gateway outcome</h2>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @{
                            var cssModifierClassName = CssStylingHelper.GetGatewayReviewStatusStyle(@Model.GatewayReviewStatus);
                            <strong class="das-tag @cssModifierClassName das-no-wrap">@Model.GatewayReviewStatus</strong>
                        } 
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome made date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.GatewayOutcomeDateTime.ToSfaShortDateString()
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome made by
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.GatewayUserName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Comments
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (string.IsNullOrWhiteSpace(Model.GatewayReviewComment))
                        {
                            <text>N/A</text>
                        }
                        else
                        {
                            @Model.GatewayReviewComment
                        }
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <partial name="_ApplicationActions" />
</main>