@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.RoatpGateway.Web.Helpers;
@using SFA.DAS.RoatpGateway.Domain;
@model SFA.DAS.RoatpGateway.Web.ViewModels.RoatpGatewayDashboardViewModel

@{
    ViewBag.Title = "Applications - Gateway";
    Layout = "_Layout";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP gateway applications</li>
    </ol>
</div>


<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds das-no-wrap">
            <h1 class="govuk-heading-xl">
                RoATP gateway applications
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <partial name="_TabList" />
            <div class="govuk-tabs__panel" id="in-progress">

                @if (@Model.Applications.Items.Any())
                {
                    <table class="govuk-table das-table--condensed das-table--responsive">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Organisation name</th>
                                <th class="govuk-table__header" scope="col">UKPRN</th>
                                <th class="govuk-table__header" scope="col">Provider route</th>
                                <th class="govuk-table__header" scope="col">
                                    <sortable-column column-name="SubmittedDate" column-label="Application submitted date" default="true" default-order="Descending"></sortable-column>
                                </th>
                                <th class="govuk-table__header" scope="col">
                                    <sortable-column column-name="LastCheckedBy" column-label="Last checked by" default-order="Descending"></sortable-column>
                                </th>
                                <th class="govuk-table__header" scope="col">Clarification requested date</th>
                                <th class="govuk-table__header" scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var item in Model.Applications.Items)
                            {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Organisation name">
                                    <a class="govuk-link" asp-action="ViewApplication" asp-controller="RoatpGateway" asp-route-applicationId="@item.ApplicationId">@item.OrganisationName</a>
                                </td>
                                <td class="govuk-table__cell" data-label="UKPRN">
                                    @item.Ukprn
                                </td>
                                <td class="govuk-table__cell" data-label="Provider route">
                                    @item.ApplicationRouteShortText
                                </td>
                                <td class="govuk-table__cell" data-label="Application submitted date">
                                    @item.SubmittedDate.ToSfaShortDateString()
                                </td>
                                <td class="govuk-table__cell" data-label="Last checked by">
                                    @item.LastCheckedBy
                                </td>
                                <td class="govuk-table__cell" data-label="Clarification requested date">
                                    @if (item.ClarificationRequestedDate is null)
                                    {
                                        <text>N/A</text>
                                    }
                                    else
                                    {
                                        @item.ClarificationRequestedDate.ToSfaShortDateString()
                                    }
                                </td>
                                <td class="govuk-table__cell" data-label="Status">
                                    @{
                                        var cssModifierClassName = CssStylingHelper.GetGatewayReviewStatusStyle(item.GatewayReviewStatus);
                                        <div class="das-tag @cssModifierClassName das-no-wrap">
                                            @if (item.GatewayReviewStatus == GatewayReviewStatus.ClarificationSent)
                                            {
                                                <text>Clarification</text>
                                            }
                                            else
                                            {
                                                @item.GatewayReviewStatus
                                            }
                                        </div>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    @if (Model.Applications.HasPreviousPage || Model.Applications.HasNextPage)
                    {
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <div class="page-navigation">

                                    @if (Model.Applications.HasPreviousPage)
                                    {
                                        <a asp-action="InProgressApplications"
                                           asp-controller="RoatpGateway"
                                           asp-route-page="@(Model.Applications.PageIndex - 1)"
                                           class="govuk-link previous">
                                            <i class="arrow-button icon-left-open">&#xe800;</i>
                                            <span class="description">Previous <span class="hide-mob">page</span></span>
                                            <span class="counter">Page <span class="prevPage">@(Model.Applications.PageIndex - 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                                        </a>
                                    }

                                    @if (Model.Applications.HasNextPage)
                                    {
                                        <a asp-action="InProgressApplications"
                                           asp-controller="RoatpGateway"
                                           asp-route-page="@(Model.Applications.PageIndex + 1)"
                                           class="govuk-link next">
                                            <i class="arrow-button icon-right-open">&#xe801;</i>
                                            <span class="description">Next <span class="hide-mob">page</span></span>
                                            <span class="counter">Page <span class="nextPage">@(Model.Applications.PageIndex + 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="govuk-body-l">No applications to assess</p>
                }

            </div>
        </div>
    </div>
</main>