@using SFA.DAS.RoatpGateway.Web.Helpers;
@model SFA.DAS.RoatpGateway.Web.ViewModels.RoatpGatewayPageViewModel



@if (Model.ClarificationBy != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">
                Clarification
            </h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-8">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome of check
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <strong class="das-tag das-tag--solid-purple das-no-wrap">Clarification</strong>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome submitted
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ClarificationDate.ToSfaShortDateString()
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Comments
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ClarificationComments

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Outcome made by
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ClarificationBy
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Applicant's clarified response
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ClarificationAnswer
                    </dd>
                </div>
                @if (!string.IsNullOrEmpty(Model.ClarificationFile))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Clarified upload
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a class="govuk-link" href="@Url.Action("SubcontractorDeclarationContractFileClarification", "RoatpGatewayExperienceAndAccreditation", new {filename = Model.ClarificationFile})">@Model.ClarificationFile</a>
                        </dd>
                    </div>
                }

            </dl>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            Outcome of Check
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Outcome of check
                </dt>
                <dd class="govuk-summary-list__value">
                    @{
                        var outcomeCssModifierClassName = CssStylingHelper.GetSectionReviewStatusStyle(Model.Status);
                        <strong class="das-tag @outcomeCssModifierClassName das-no-wrap">@Model.Status</strong>
                    }
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Outcome submitted
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.OutcomeMadeOn.ToSfaShortDateString()
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Comments
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (string.IsNullOrWhiteSpace(Model.Comments))
                    {
                        <text>N/A</text>
                    }
                    else
                    {
                        @Model.Comments
                    }
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Outcome made by
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.OutcomeMadeBy
                </dd>
            </div>
        </dl>
   
        <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" asp-controller="RoatpGateway" asp-action="ViewApplication" asp-route-applicationId="@Model.ApplicationId">Back to gateway outcome</a>
        </p>
    </div>
</div>